{% extends 'base_layout.html' %}

{% block content %}

  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body style="background-color: #d0eaf2; color: #1f4070;">
    <h1 style="margin-left: 60px;">BuyBuddy</h1>
    <pre><span class="about-content" style="font-size: 18px;">
      Welcome to BuyBuddy, your ultimate product comparison companion. This innovative tool helps you make
      informed purchasing decisions by comparing features, prices, and reviews from various sources. Say
      goodbye to confusion and hello to smart shopping!


      In a world filled with choices, product comparison is essential. It empowers you to find the best value for your
      money. With BuyBuddy, you can easily weigh the pros and cons of different items, ensuring you never
      settle for less than the best.
    </span></pre>
  </body>
{% endblock %}
